input[type='file'] {
    width:125px;
    height:25px;
    opacity:0
}

#button {
    background-color: #32c5d2;
    color: white;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 11px;
    height: 25px;
    left: -15px;
    line-height: 25px;
    position: relative;
    text-align: center;
    top: 5px;
    transition: all 500ms ease 0s;
    width: 90px;
}
/* progress bar css */
.progress { position:relative; width:400px; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
.bar { background-color: #32c5d2; width:0%; height:20px; border-radius: 3px; }
.percent { position:absolute; display:inline-block; top:3px; left:40%; font-size: small !important; }

.usr-img-options, 
      .usr-img-options:hover,
      .usr-img-options:focus{
        margin: 0;
        padding: 0;
        position: absolute;
        top: 5px;
        left: 7%;
        color: #32c5d2;
        outline: none;
      }

        .usr-img-options i {
            font-size: 20px;
        }
      .option-box{
        background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
        border: 1px solid #ccc;
        display: none;
        left: 44px;
        top: 16px;
        position: absolute;
        width: 160px;
      }
      .option-box ul{
        margin: 0;
        padding: 0;
      }
      .option-box ul li{
        list-style: none;
        display: block;
        padding: 8px 0;
        text-align: center;
      }
      .option-box ul li:not(:last-child){
        border-bottom: #ccc solid 1px;
      }
      .option-box ul li a{
        display: inline-block;
        outline: none;
        color: #666;
        text-decoration: none;
        font-size: 11px;
        line-height: 23px;
        min-height: 23px;
      }
    .option-box ul li span#button{
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        color: #666;
        display: inline-block;
        float: none;
        height: auto;
        left: 0;
        margin-top: 0;
        top: 0;
        width: auto;
    }
    .option-box ul li span#button + input {
        margin: 1px 0 0 54px;
        position: relative;
        margin-top: -24px;
        width: 54px;
        z-index: 0; 
        cursor: pointer;
    }
  .edit_usrimg{
    max-width: 180px;
  }
  .edit-cotact-usrimg .progress {
    margin-top: -20px;
    position: absolute;
    width: 180px;
}

.pic_lable{
    float: left;
}


.spinner{
    position: absolute; 
    top: 0px; 
    right:-10px;
    top:8px
}

#email_loader{
    width:20px;
}

.error{
    color: red;
    display: block;
    font-size: 12px;
    left: 28%;
    position: absolute;
    top: 35px;
    width: 100%;
    z-index: 5;
}

.margin{
    margin-top: 5px;
}

@media screen and (max-width: 767px){
    .error {
        left: 4%;
        top: 61px;
    }
    .spinner {
        right: -7px;
        top: 32px;
    }
}

@media screen and (max-width: 1280px){
    .error {
        left: 2%;
        top: 65px;
        }
    .spinner{
        right: -5px;
        top: 35px;
    }
    .form-horizontal .form-group label.control-label{
        text-align: left;
    }
}

#img-error{
    color: red;
    display: block;
    width: 100%;
}