.custheader .caption{
    float: left;
    width: 40%;
    padding-left: 15px;
    line-height: 35px;
}
.custheader .tools{
    float: right;
    /*margin-bottom: 10px;*/    
}
select#select-contact-filter + span.select2{
    right: 24px;
}