{% load i18n %}
<!DOCTYPE html>
{% load staticfiles %}


<div class="top-menu">
    <ul class="nav navbar-nav pull-right">
        <!-- BEGIN NOTIFICATION DROPDOWN -->
        <li class="dropdown dropdown-extended dropdown-notification" id="header_language_bar">
            {% get_language_info_list for LANGUAGES as languages %}
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <i class="fa fa-language"></i>
            </a>

            <ul class="dropdown-menu choose-language">
                <li class="external">
                    <h3>
                        <span class="bold">{% trans "Choose language" %}</span>
                    </h3>
                </li>
                <li>
                    <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
                        {% for language in languages %}
                            <li>
                                <a href="/{{ language.code }}{{ request.path|slice:'3:' }}">
                                    <span class="time"></span>
                                    <span class="details">
                                    <span class="label label-sm label-icon label-success">
                                        <i class="german"></i>
                                    </span> {{ language.name_local|title }} ({{ language.code }}) </span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>


            <li><a href="" >
                <i class="icon-envelope-open"></i></a>
            </li>
            <li class="custom-notificatn-main">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <i class="icon-bell"></i>
                    
                <ul class="dropdown-menu custom-notificatn">
                    <li>
                        <ul class="dropdown-menu-list scroller" data-handle-color="#637283">
                            
                        </ul>
                       
                    </li>
                </ul>
                <!-- <a href=""><i class="icon-bell" ></i></a> -->
            </li>
            <li>
                <a href=""><i class="icon-calendar"></i></a>
            </li>
        </li>
        
        <li class="dropdown dropdown-user">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
   
            </a>
            <ul class="dropdown-menu dropdown-menu-default">

                <li>

                </li>
            </ul>
            <li>
                <a href="{% url 'account_logout' %}">
                <i class="fa fa-sign-out"></i></a>
            </li>
        </li>
        <!-- END USER LOGIN DROPDOWN -->
    </ul>
</div>
<!-- END TOP NAVIGATION MENU -->
</div>
<!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"> </div>
<!-- END HEADER & CONTENT DIVIDER -->
<!-- BEGIN CONTAINER -->
<div class="page-container">
<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
<!-- BEGIN SIDEBAR -->
<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
        <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
        <li class="sidebar-toggler-wrapper hide">
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <div class="sidebar-toggler"> </div>
            <!-- END SIDEBAR TOGGLER BUTTON -->
        </li>
        <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->

        <li class="nav-item start active open ">
            <a href="{% url 'insurance:index' %}">
                <i class="icon-home"></i>
                <span class="title">{% trans "Home" %}</span>
                <span id="contact_nav" class=""></span>
            </a>
            <a href="javascript:void(0);" class="nav-link nav-toggle">
                <span class="arrow open"></span>
            </a>
            
            <ul class="sub-menu">
                <li class="nav-item start select-menu">
                    <a href="{%url 'insurance:create_insurance'%}" class="nav-link ">
                        <i class="fa fa-italic" style="font-size:19px"></i>
                        <span class="title">{% trans "Create Insurance" %}</span>
                        <span class="selected"></span>
                    </a>
                </li>

            </ul>
            
        <!-- <div class="loader"> -->
    </ul>
    <!-- END SIDEBAR MENU -->
    <!-- END SIDEBAR MENU -->
</div>



